.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.bottom {
    position: fixed;
    bottom: 0;
}

.body {
    margin:0;
    padding:0;
}

.jumbotron{
    height:250px;
    display:flex;
    align-items:center;
    background:url("https://www.bfi.org.uk/sites/bfi.org.uk/files/fb-images/great-levelling-expanded-cinema-humbling-of-movies-nate-kitch-illustration-for-sight-and-sound-magazine-august-2016-issue_1000x750.jpg") center center;
    background-size:cover;
}
label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}